$navDrawer-width: 250px;
$height-fuul-screen: 100vh;
$height-header: 66px;
$border-color: #e7ebf0;

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

nav {
  width: $navDrawer-width;
  -webkit-flex-shrink: 0;
  .navigate {
    border-right: 2px solid $border-color;
    overflow-y: auto;
    position: fixed;
    height: $height-fuul-screen;
    display: flex;
    width: $navDrawer-width;
    flex-direction: column;
    flex-shrink: 0;
    span {
      padding: 16px 36px;
      img {
        height: auto;
        width: 55px;
      }
    }

    ul {
      list-style: none;
      padding: 2rem;
      li {
        padding: 3px 0;
        a {
          color: #333;
          font-weight: 700;
          text-decoration: none;
        }
      }
      li :hover {
        color: #7b7b7b;
      }
    }
  }
}

header {
  border: 2px solid $border-color;
  position: fixed;
  z-index: 1100;
  padding: 20px 40px;
  top: 0;
  left: auto;
  right: 0;
  width: calc(100% - $navDrawer-width);
  height: $height-header;
  box-sizing: border-box;
  box-shadow: none;
  backdrop-filter: blur(8px);
  span {
    float: right;
    padding-left: 20px;
  }
}

main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: block;
  position: relative;
  min-width: 0;
  max-width: 105ch;
  padding-top: $height-header;
}
